<div style="width: 100%; float: left;">


    <!-- Menu group-->
    <!--<div style="width: 100%; float: left;">
        <div fxLayout="row wrap" fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" >
            <div fxFlex="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" class="card" *ngFor="let group of menuItemGroup">
                &lt;!&ndash;<a [routerLink]="['/Product', ‘2’]">{{product.name}} </a>&ndash;&gt;
                <mat-card id="card-bof">
                    <p [routerLink]="[group.url, group.id]" style="color: white !important; cursor: pointer">
                        <mat-card-content color='accent'>
                            <div fxLayout="row" fxLayoutGap="70%">
                                <div fxLayout="column">
                                    <mat-card-title>{{ appUtils.isLocalActive() ?  group.banglaName : group.name}}</mat-card-title>
                                </div>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="row end">
                                <mat-icon style="color: white;" mat-card-avatar>folder_shared</mat-icon>
                            </div>
                            &lt;!&ndash; Project Processing Appraisal Management System &ndash;&gt;
                        </mat-card-content>
                    </p>
                </mat-card>
            </div>
        </div>
    </div>-->


</div>




