.card{
    padding: 1%;
    width: 26vw
}
#card-pps{
    background-color: crimson;
}
#card-npm{
    background-color: dimgrey;
    height: 100%;
}
#card-gis{
    background-color: green;
}
#card-ssrc{
    background-color: royalblue;
}
#card-cs{
    background-color: darkorange;
}

#card-bof{
    background-color: #0D6B4F;
}
