.smallFont {
    font-size: 10px;
    font-family: "Book Antiqua";
}

.mediumFont {
    font-size: 12px;
}

.heading {
    font-size: 10px;
    padding: 2px;
}

.footer {
    background: #94A3B8;
}

div.mat-form-field-infix {
    padding: 0em 0 !important;
}

.table-row {
    height: 40px !important;
}

.matInputField {
    margin-right: 2px;
}

.inputField {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #94A3B8;
    border-width: 0.8px;
    font-size: 12px;
    line-height: 25px;
    color: black;
}

.input {
    //width: 120px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #94A3B8;
    border-width: 0.8px;
    font-size: 12px;
    line-height: 25px;
    color: black;
}


.white-icon {
    color: white;
    font-size: 16px;
}

.mat-table-th {
    background-color: #0d9488;
    color: white;
    font-size: small;
    font-weight: bold;
    text-align: left;
}

.matSelect {
    line-height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: #94A3B8;
    border-width: 0.8px;
}

.matAuto {
    line-height: 25px;
    border-radius: 5px;
    border-color: #94A3B8;
    border-width: 0.8px;
    width: 400px;
}

.border {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #94A3B8;
    border-width: 0.8px;
    font-size: 14px;
    line-height: 25px;
    color: black;
}

